.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#id-card{
    border: 1px solid #000;
    margin: 1rem;
    padding: .5rem;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    text-align: left;
    gap: .5rem;
    height: 13rem;
  }

.idMessage {
  border: 1px solid #000;
  margin: 1rem;
  padding: .5rem;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  text-align: left;
  
}
#karte {
  display: flex;
  flex-direction: row;
  display: inline-block;
  width: 30%;
}
#driverCard {
  background-color: #5b7bec;
  color: white;
}

#imageDriver {
  border-radius: 50%;
  width: 15%;
  height: 15%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
